/* Safety Contacts Child Rules */
body {background-color:#0F1225;}ul {margin-left: 0;}ul ul, ol ul, ul ol, ol ol {margin-left: 0;}
/* Header -----------------------------------------------------------------------------*/
#safetyHeader {margin:0;padding:10px 0 6px 0;text-align:center;}
#safetyHeader {border-bottom:3px solid #eab93b;}
#safetyHeader h1 {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
#safetyHeader h1 a {color:#eab93b;font-weight:normal;text-transform:uppercase;}
#safetyHeader h1 a:hover {color:darkgoldenrod;}
/* Lower Buttons -----------------------------------------------------------------------*/
.button {border-radius:8px;}
#emsCall {background-color:#b41d1d;margin-top:40px;margin-bottom:40px;border-radius:10px;}
a#emsCall:hover {background-color:#8f1313;}
#blockwrap {position: relative; z-index:9999;}
/* Outer List ---------------------------------------------------------------------------*/
#parentBlock,#beforeSwitch  {background:#ffffff;}
ul.primary {background:#fff;margin-left:0;}
ul.primary a {color:#9d6116;}
ul.primary li {margin-left:0; padding:4px 4px ;}
ul.primary li.grayBG {background:#eee;}
/*scriptLib - Nested List  ---------------------------------------------------------------*/
ul.nested li span.property {display:block;background:#1c234b;border-bottom:2px solid gold;color: #fff;margin-bottom:0;padding:3px 0 3px 8px;}
ul.nested li span img {height:20px;width:auto;margin:0 10px;}
ul.nested li span.propValues {background:#f9f9f9;display:block;padding:6px 0 6px 8px;border-bottom:1px dotted #ccc;}
ul.nested li span.propValues a {color:#081844;}
ul.nested li span.propValues a.iconSMS {float:right;margin-right:30px;}
/* Top-bar Menu is fixed bottom ----------------------------------------------------------*/
.top-bar {position:fixed;bottom:0;width:100%;z-index:99;}
.top-bar, .top-bar ul {background-color:#eab93b;}
div.top-bar ul.menu {margin-left:6px;}
div.top-bar ul.menu li a {color:#151c52;font-weight:bold;}
div.top-bar ul.menu li a:hover {color:#b87a2a;}
ul li ul.menu li a{  margin:0;  line-height:16px;  font-weight:normal;  background-color:#151c52;  padding:8px 0 8px 8px;  border-radius:10px;  color:#fff;  }
ul li ul.menu li a:hover{background-color:#eab93b;color:#fff;}
ul li ul.menu li ul li{padding-bottom:18px;font-weight:bold;margin-right:10px;}

